{% load static %}
<meta charset="UTF-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width,initial-scale=1" name="viewport"/>
<meta content="description" name="description"/>
<meta name="google" content="notranslate" />
<meta content="Mashup templates have been developped by Orson.io team"
      name="author"/>
<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no"/>
<link rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/apple-touch-icon.png' %}"/>
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/favicon-32x32.png' %}"/>
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/favicon-16x16.png' %}"/>
<link rel="manifest" href="{% static 'assets/site.webmanifest' %}"/>

<link rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/apple-icon-180x180.png' %}"/>
<link type="image/x-icon" href="{% static 'assets/favicon.ico' %}" rel="icon"/>
<title>Saheed Resume</title>

<link rel="stylesheet" href="{% static 'main.d8e0d294.css' %}"/>
<link rel="stylesheet" href="{% static 'style.css' %}"/>